@import "../node_modules/bootstrap/scss/bootstrap";

@import "./scss/mixins";
@import "./scss/table";
@import "./scss/sidebar";

// .table__container {
//     margin-top: 1rem;
//     /* max-width: 80rem; */
//     /* position: absolute; */
//     /* top: 50%; */
//     /* left: 50%; */
//     /* transform: translate(-50%, -50%); */
//     /* overflow-y: auto;
//     display: block; */
// }

// .table__row:nth-of-type(2n+1) {
//     background-color: rgb(241, 241, 241);
// }

// .table__cell-link:link, .table__cell-link:visited {
//     text-decoration: none;
// }

// * {
//     margin: 1px;
// }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  list-style: none;
}

// .header {
//     position: relative;

//     &__main {
//         display: block;
//         position: absolute;
//         top: 1rem;
//         left: 2rem;
//         font-size: 2.5rem;
//         font-weight: 400;
//         letter-spacing: 0.4rem;
//     }

//     &__sub {
//         display: block;
//         position: absolute;
//         font-size: 1.5rem;
//         font-weight: 400;
//         top: 4rem;
//         left: 2.38rem;
//         letter-spacing: 0.7rem;
//     }
// }

.search {
  border: 1px solid #ccc;
  width: 24rem;
  border-radius: 30px;
  // height: 60px;
  // display: flex;
  // align-items: center;
  margin-right: 27rem;
  // margin-top: .5rem;
  // overflow-x: hidden;
  position: relative;
  // text-align: center;

  &__input {
    outline: none;
    width: 20rem;
    height: 80%;
    margin-top: 0.25rem;
    margin-left: 1rem;
    // padding: .5rem;
    border: none;
    // border-bottom: 2px solid #757de8;
    // margin-top: 2rem;
  }

  &__icon {
    display: inline-block;
    margin-left: 0.7rem;
    margin-top: -0.2rem;
    // position: absolute;
    // top: 2.58rem;
    // left: 53rem;
    font-size: 1.4rem;
    color: #a1a1a1;
  }
}

.search__input:focus-within ~ .search__icon {
  color: #757de8;
  // color: #a76c1f;
}

#modal {
  // margin-left: 1rem;
  width: 91.5%;
  // height: 90%;

  &::-webkit-scrollbar {
    visibility: hidden;
    // width: 10px;
    // background: grey;
  }

  &::-webkit-scrollbar-track {
    visibility: hidden;
    // border-radius: 10px;
    // background: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    visibility: hidden;
    // border-radius: 10px;
    // background: grey;
  }
}
.modal__card {
  margin-left: 1rem;
  width: 38%;
}

.modal__table {
  // width: 50%;
}

.modal__header {
  font-size: 2rem;
  position: relative;
}

.modal__close {
  cursor: pointer;
  // position: fixed;
  position: absolute;
  display: inline-block;
  right: 1rem;
  width: 30px;
  height: 30px;
  padding: 0;
  z-index: 10;
  // background: #f6f6f6;
  // border-radius: 50%;
  // border: 1px solid #ececec;
  // box-shadow: -2px -2px 10px white, 2px 2px 10px #888888;
  transition: 0.4s ease-in;

  &:hover {
    color: #fd7e14;
    // box-shadow: -2px -2px 10px white, 2px 2px 10px #888888,
      // inset -2px -2px 5px white, inset 2px 2px 5px #888888;
    transition: 0.4s ease-out;
  }
}

.category__list {
  position: absolute;
  top: 7rem;
  left: 33rem;

}
